#study {
    
    background-color: #f4f5f9;
}
.stydy {
    height: 53vw;
    background-color: #f4f5f9;
    margin-top: 5.3vw;
    display: grid;
    grid-template-rows: 25% 75%;
    color:rgb(121, 121, 121);
    user-select: none;
    
}

.stydy-row1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.stydy-row1 p {
    font-size: 0.7rem;
    margin-top: 2rem;
}
.stydy-row2 {
    display: grid;
    grid-template-columns: 50% 50%;
}
.stydy-row2-col1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.stydy-row2-col2 {
    background-image: url("../pictures/study.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.stydy-row2-col1-box {
    background-color: #fff;
    height: 30vw;
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    position: relative;
    left: 12%;
}

.stydy-row2-col1-box-row1 {  
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
}
.stydy-row2-col1-box-in-box{
    width: 15%;
    padding-top: 15%;
    border: 1px solid rgb(231, 76, 60);
    transform: rotate(45deg);
}

.stydy-row2-col1-box-row2 {  
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
}
.stydy-row2-col1-box-row3 {  
    display: flex;
    width: 70%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    position: relative;
    left: 15%;
}

.stydy-row2-col1-box-row3 p {
    font-size: 0.7rem;
    text-align: center;
}

.stydy-row2-col1-box-row4 a{
    background-color:rgb(231, 76, 60);
    padding: 0.2rem 2.1rem;
}